@import "tailwindcss";
@import "../themes/theme.css";

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, sans-serif;
  max-width: 425px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.intro-btn {
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

.intro-btn:hover {
  background-color: var(--button-hover);
}

#menuIcon svg {
  width: 50px;
  height: 50px;
}

#pathNameIcon svg {
  width: 40px;
  height: 40px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100vw;
  max-width: 425px;
  transition: left 0.3s ease-out;
  z-index: 100;
  background-color: var(--background);
  margin-left: auto;
  margin-right: auto;
}

#closeIcon svg {
  width: 50px;
  height: 50px;
}

.menu.open {
  left: 0;
}

.menu-navigation ul li {
  font-size: 50px;
}

.page-title {
  padding: 15px 25px;
  border-radius: 999px;
  background-color: #000000;
}

.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: 3px solid var(--foreground);
  color: var(--foreground) !important;
}

.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root svg {
  color: var(--foreground) !important;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.loc-name-font {
  font-size: 1.5em;
}

p.loc-time-font {
  font-size: 1.1em;
  padding: 10px 25px;
  border-radius: 999px;
  background-color: #000000;
  color: #ffffff;
}

p.cond-text-font {
  font-size: 1.5em;
}

p.cur-temp-font {
  font-size: 10em;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}
